<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table table-bordered table-hover">

<tr>
  <th>Company Name</th>
  <th>Employees</th>
  <th>Edit</th>
  <th>Delete</th>

</tr>

<tr>
  <% @companies.each do |company| %>
  <td><%= link_to company.name, company %></td>
  <td><%= company.employees.count %></td>
  <td><%= link_to 'Edit', edit_company_path(company),  class: "btn btn-primary btn-sm" %></td>
  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-sm" %></td>
  </td>
</tr>
<% end %>

</table>
