<p id="notice"><%= notice %></p>

<h1><strong>Companies</strong></h1>

<div class="well">


<table class="table table-bordered table-hover">

<tr>
  <th>Company Name</th>
  <th>Employees</th>
  <th>Edit</th>
  <th>Delete</th>

</tr>

<tr>
  <% @companies.each do |company| %>
  <td><h4><%= link_to company.name, company %></h4></td>
  <td><%= company.employees.count %></td>
  <td><%= link_to 'Edit', edit_company_path(company),  class: "btn btn-primary btn-sm" %></td>
  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger btn-sm" %></td>
  </td>
</tr>
<% end %>

</table>

</div>
