<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<%= form_with( model: [ @company, @employee ], local: true) do |form| %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<table class="table">

<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Area</th>
  <th>Delete</th>

</tr>

<tr>
  <% @company.employees.each do |employee| %>

  <td><%= employee.first_name %></td>
  <td><%= employee.last_name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.area.name %></td>
  <td><%= link_to 'Delete', company_employee_path(@company , employee) , method: :delete, class: "btn btn-danger btn-sm" %></td>
  </td>


</tr>
<% end %>

</table>
